<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./lib/Vue2.js"></script>
</head>
<body>
    <div id="box">
        <!-- input change事件区别 -->
        <input type="text" v-model="mytext"/>
        <ul>
            <li v-for="data in computedList" :key="data">
                {{data}}
            </li>
        </ul>

        <!-- {{ test() }} -->
    </div>

    <script>
        var vm = new Vue({
            el:"#box",
            data:{
                mytext:"",
                dataList:["aaa","bbb","ccc","ddd","acd","abc","abd","bcd"]
            },
            computed:{
                computedList(){
                    return this.dataList.filter(item => item.includes(this.mytext))
                }
            }
        })
    </script>
</body>
</html>